@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  /* Force a clean, modern font */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}